 * {
    margin: 0px;
    padding: 0px;
}
body{
  background:#b0d0d3;    
  font-family:freemono, verdana, Georgia, arial, helvetica, serif, sans-serif; 
  font-weight: normal;
  font-size:1.00em;
  text-align:right; 
}
#papel{
  width:100%;
}
#titulo{
  border:1px solid #000000; 
  /* border-radius:5px; */ 
  width:100%;
  margin:10px auto 10px auto;
  font-family:freemono,OliJo-Bold,bevan;
  text-align:center;
}
#despedida{
  border:1px solid #000000;/*#bfbfbf;   /*828592*/
  /* border-radius:5px; */
  font-size:0.625em;
  width:100%;
  margin:10px auto 10px auto;
  text-align:center;
}


#titulo i{
  color: #000000;
  font-size: 4em;
  vertical-align:middle;
}
#titulo ul{
  margin:0px;
  padding:0px;
}
#titulo li{
  display:inline;
  margin:0px 10px;
}
#titulo li#titulo-text{
  margin-top:0.0em;
  display:block;
  font-weight: bold;
  font-size:0.625em;
  color:#000000;
}


.warning{
  font-weight: bolder;
  color:#ff0000;    
}
