 * {
    margin: 0px;
    padding: 0px;
}
body{
  /* background:#f3efe3; */
  /* background:#f5f5dc; */
  background:#f5f5f5;    
  /* background:#ffffcc;  */
  /* background: url(../../fondo/fondo.jpg); */ 
  /* background: url(../foto/fondo02.jpg); */
  /* background: url(../foto/fondo03.jpg); */
  /* background: url(../foto/fondo04.jpg); */
  /* background: url(../foto/fondo05.jpg); */
  font-family:freemono,verdana,Georgia,arial,helvetica,sans-serif; 
  font-weight: normal;
  font-size:1.00em;
  text-align:center;
}
#papel{
  width:100%;
}
#titulo{
  border:0px solid #0000ff;   /* #828592 o #e8e8e8 */
  /* border-radius:5px; */ 
  width:100%;
  margin:25px auto 0px auto;
  font-family:freemono,OliJo-Bold,bevan;
}





#despedida{
  border:0px solid #00ff00;/*#bfbfbf;   /*828592*/
  /* border-radius:5px; */
  font-size:0.625em;
  width:100%;
  margin:100px auto 10px auto;
}



#titulo img{
  width:60px;
  height:60px;
  vertical-align:middle;
}
#titulo ul{
  margin:0px;
  padding:0px;
}
#titulo li{
  display:inline;
  margin:0px 10px;
}
#titulo li#titulo-text{
  margin-top:0.5em;
  display:block;
  font-weight: bold;
  font-size:1.5em;
  /* color:#039dc3; */
  color:#000000;
    }
/*    
fieldset{
  border:1px solid #ff0000;    /* #bfbfbf; /* #828592 o #e8e8e8  
  display:block;
  margin:0px auto;
}
*/


.warning{
  font-weight: bold;
  color:#ff0000;    
}
