 * {
    margin: 0px;
    padding: 0px;
}
body{
   background:#f3efe3; 
  /* background:#f5f5dc;  */
  /* background:#ffffcc;  */
  /* background: url(../../fondo/fondo.jpg); */ 
  /* background: url(../foto/fondo02.jpg); */
  /* background: url(../foto/fondo03.jpg); */
  /* background: url(../foto/fondo04.jpg); */
  /* background: url(../foto/fondo05.jpg); */
  font-family:Georgia,arial,helvetica,sans-serif;
  font-weight: normal;
  font-size:1.00em;
  text-align:center;
}
#papel{
  width:100%;
}
#titulo{
  border:0px solid #0000ff;   /* #828592 o #e8e8e8 */
  /* border-radius:5px; */ 
  width:100%;
  margin:25px auto 0px auto;
}
#selecciona{
  border:2px solid #bfbfbf;   /* #828592 o #e8e8e8 */
  border-radius:5px;
  width:98%;
  margin:100px auto 0px auto;
}
.select-img{
 width:30px;
 height:30px;
}




#despedida{
  border:0px solid #00ff00;/*#bfbfbf;   /*828592*/
  /* border-radius:5px; */
  font-size:0.625em;
  width:100%;
  margin:100px auto 10px auto;
}



#titulo img{
  width:60px;
  height:60px;
  vertical-align:middle;
}
#titulo ul{
  margin:0px;
  padding:0px;
}
#titulo li{
  display:inline;
  margin:0px 10px;
}
#titulo li#titulo-text{
  margin-top:0.5em;
  display:block;
  font-weight: bold;
  font-size:1.5em;
  /* color:#039dc3; */
  color:#199eb8;
    }
fieldset{
  border:0px solid #ff0000;    /* #bfbfbf; /* #828592 o #e8e8e8 */
  display:block;
  margin:0px auto;
}

#baloncesto-inputbox-div, #beisbol-inputbox-div,
#volibol-inputbox-div, #futbol-soccer-inputbox-div,
#norte-inputbox-div, #sur-inputbox-div,
#oeste-inputbox-div, #este-inputbox-div{
  width:16%;
  margin:5px 4% 5px 4%;
  padding:4px 0px;
  display:inline;
  float:left; 
}


#baloncesto-inputbox-div img, #beisbol-inputbox-div img, #volibol-inputbox-div img, #futbol-soccer-inputbox-div img, 
#baloncesto-inputbox-div input, #beisbol-inputbox-div input, #volibol-inputbox-div input, #futbol-soccer-inputbox-div input
/* #baloncesto-inputbox-div label, #beisbol-boton label, #volibol-boton label, #futbol-boton label */
{
  vertical-align:middle;
}
#baloncesto-inputbox-div, #beisbol-inputbox-div, #volibol-inputbox-div, #futbol-soccer-inputbox-div{
  border-radius:5px; 
}
#norte-inputbox-div, #sur-inputbox-div, #oeste-inputbox-div, #este-inputbox-div{
  border-radius:5px; 
}  
/* #baloncesto-inputbox-div label, #beisbol-inputbox-div label, #volibol-inputbox-div label, #futbol-soccer-inputbox-div label{
  cursor:pointer;  
} */
#baloncesto-inputbox-div input,  #beisbol-inputbox-div input, #volibol-inputbox-div input, #futbol-soccer-inputbox-div input{
  cursor:pointer; 
}
#norte-inputbox-div input,  #sur-inputbox-div input, #oeste-inputbox-div input, #este-inputbox-div input{
  cursor:pointer; 
}

.warning{
  color:#ff0000;    
}
