#file-Y-comentario{
  border:0px solid #00ff00;   /* #828592 o #e8e8e8 */
  width:100%;
  margin:100px auto 0px auto;
}
#etiquetas{
  clear:both;
  display:block;
  border:0px solid #0000ff;   /* #828592 o #e8e8e8 */
  width:100%;
  margin:100px auto 0px auto;
}
#submit-div{
  border:0px solid #00ff00;   /* #828592 o #e8e8e8 */
  width:100%;
  margin:100px auto 0px auto;
}

#file-select-div,
#tag3-input-div, #tag4-input-div, #tag5-input-div,  /* esta div tiene height default minimo, no 40px, so necesito padding */
#comentario-div{
  border-radius:5px;
  padding:4px 0px;
}

#file-select-div input,
#tag3-input-div label, #tag4-input-div label, #tag5-input-div label,
#tag3-input-div input, #tag4-input-div input, #tag5-input-div input{
  cursor:pointer; 
}
#submit-boton{
  height:40px;
  width:120px;
 /* background:#23a09a  /*#5fcf80;*/
 /* background: linear-gradient(#aeb2c3, #bfbfbf);   /* (#828592, #aeb2c3);  */
 /* font-weight:bolder;*/
 /* cursor:pointer;*/
  border-radius:5px;
  /*color:#00ff00;*/
}
/*
#submit-boton:disabled{
  height:40px;
  width:120px;
  /* background:#23a09a  /*#5fcf80;
  background: linear-gradient(#aeb2c3, #bfbfbf);   /* (#828592, #aeb2c3);  
  font-weight:bolder;
  cursor:pointer;
  border-radius:5px;
  color:#ff0000;
}

#submit-boton:hover{
  color:#ff0000;
}
*/
#deporte-feedback-paragraph, #tag4-feedback-paragraph, #tag5-feedback-paragraph{
  margin-top:15px;   
}