.select-img{
 width:30px;
 height:30px;
}




label.loadLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}
.loadLabel {
    border: 1px solid #098ea8;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 2px;
    background: #ffffff;
    color:#000000;
    display: inline-block;
    font-weight:bolder;
}
.loadLabel:hover {
    background:#098ea8;
    color:#ffffff;
    font-weight:bolder;
}
/*
 .loadLabel:active {
    background: #ff0000;
}
.loadLabel :invalid + span {
    color: #f00;
}
.loadLabel :valid + span {
    color: #000;
}
*/



#baloncesto-inputbox-div, #beisbol-inputbox-div,
#volibol-inputbox-div, #futbol-soccer-inputbox-div,
#norte-inputbox-div, #sur-inputbox-div,
#oeste-inputbox-div, #este-inputbox-div,
#metro-inputbox-div, #centro-inputbox-div,
#usa-inputbox-div, #otro-inputbox-div{
  width:16%;
  margin:5px 4% 5px 4%;
  padding:4px 0px;
  display:inline;
  float:left; 
  border-radius:5px;
}


#baloncesto-inputbox-div img, #beisbol-inputbox-div img, #volibol-inputbox-div img, #futbol-soccer-inputbox-div img, 
#baloncesto-inputbox-div input, #beisbol-inputbox-div input, #volibol-inputbox-div input, #futbol-soccer-inputbox-div input,
#norte-inputbox-div input, #sur-inputbox-div input,
#oeste-inputbox-div input, #este-inputbox-div input,
#metro-inputbox-div input, #centro-inputbox-div input,
#usa-inputbox-div input, #otro-inputbox-div input
/* #baloncesto-inputbox-div label, #beisbol-boton label, #volibol-boton label, #futbol-boton label */
{
  vertical-align:middle;
  cursor:pointer; 
}
  
#baloncesto-inputbox-div label, #beisbol-inputbox-div label, #volibol-inputbox-div label, #futbol-soccer-inputbox-div label,
#norte-inputbox-div label, #sur-inputbox-div label,
#oeste-inputbox-div label, #este-inputbox-div label,
#metro-inputbox-div label, #centro-inputbox-div label,
#usa-inputbox-div label, #otro-inputbox-div label, .loadLabel
{
  cursor:pointer;  
}















#file-Y-comentario{
  /* border-top:5px solid #d5d5d5;   /* #828592 o #e8e8e8 */
  width:100%;
  margin:100px auto 0px auto;
  background:#efefef; 
  /* 
  border-bottom:0px solid #d5d5d5;
  border-top:0px solid #d5d5d5; 
  */
  padding:10px 0px; 
}
#selecciona{
  /* border:5px solid #dfdfdf;   /* #828592 o #e8e8e8 */
  border-radius:5px;
  width:100%;
  margin:100px auto 0px auto;
  padding:10px 0px;
  border-bottom:1px solid #e5e5e5;
  border-top:1px solid #e5e5e5;  
}
#etiquetas{
  clear:both;
  display:block;
  background:#efefef; 
  /*
  border-top:0px solid #e5e5e5; 
  border-bottom:0px solid #e5e5e5;
  */
  width:100%;
  margin:100px auto 0px auto;
  padding:10px 0px;
}
#submit-div{
  border:0px solid #00ff00;   /* #828592 o #e8e8e8 */
  width:100%;
  margin:100px auto 0px auto;
}

#file-select-div,
#tag3-input-div, #tag4-input-div, #tag5-input-div,
#comentario-div{
  border-radius:5px;
  padding:10px 0px;
}


#submit-boton{
  height:40px;
  width:120px;
 /* background:#23a09a  /*#5fcf80;*/
 /* background: linear-gradient(#aeb2c3, #bfbfbf);   /* (#828592, #aeb2c3);  */
 /* font-weight:bolder;*/
 /* cursor:pointer;*/
  border-radius:5px;
  /*color:#00ff00;*/
}
/*
#submit-boton:disabled{
  height:40px;
  width:120px;
  /* background:#23a09a  /*#5fcf80;
  background: linear-gradient(#aeb2c3, #bfbfbf);   /* (#828592, #aeb2c3);  
  font-weight:bolder;
  cursor:pointer;
  border-radius:5px;
  color:#ff0000;
}

#submit-boton:hover{
  color:#ff0000;
}
#file-select-div input,
#tag3-input-div label, #tag4-input-div label, #tag5-input-div label,
#tag3-input-div input, #tag4-input-div input, #tag5-input-div input{
  cursor:pointer; 
}
*/
#deporte-feedback-paragraph, #tag4-feedback-paragraph, #tag5-feedback-paragraph
{
  margin-top:50px;   
}
