#justToClear{
  display:none;
}
#comentario-feedback-paragraph{
  margin-top:30px;   
}
#file-select-div{
  width:400px;
  margin:0px auto;
}
#comentario-div{
  width:400px;
  margin:0px auto;
}

#tag3-input-div, #tag4-input-div, #tag5-input-div{
  width:250px;
  margin:0px auto;
}
/*
#file-select-div, #tag3-input-div, #tag4-input-div, #tag5-input-div, #comentario-div{
  width:60%;
  margin:0px auto;
}
*/
