#justToClear{
  clear:both;
  display:block;
}

.select-img{
 width:30px;
 height:30px;
}

label.loadLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}
.loadLabel {
    border: 1px solid #098ea8;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 2px;
    background: #ffffff;
    color:#000000;
    display: inline-block;
    font-weight:bolder;
}
.loadLabel:hover {
    background:#098ea8;
    color:#ffffff;
    font-weight:bolder;
}
/*
 .loadLabel:active {
    background: #ff0000;
}
.loadLabel :invalid + span {
    color: #f00;
}
.loadLabel :valid + span {
    color: #000;
}
*/


#baloncesto-inputbox-div img, #beisbol-inputbox-div img, #volibol-inputbox-div img, #futbol-soccer-inputbox-div img, 
#baloncesto-inputbox-div input, #beisbol-inputbox-div input, #volibol-inputbox-div input, #futbol-soccer-inputbox-div input
{
  vertical-align:middle;
  cursor:pointer; 
}
  
#baloncesto-inputbox-div label, #beisbol-inputbox-div label, #volibol-inputbox-div label, #futbol-soccer-inputbox-div label,
.loadLabel
{
  cursor:pointer;  
}

#foto-select-div,
#tag1-input-div, #tag2-input-div, #tag3-input-div, #tag4-input-div, #tag5-input-div,
#comentario-div{
  border-radius:5px;
  padding:10px 0px;
}

#submit-boton{
  height:40px;
  width:120px;
  border-radius:5px;
 /* background:#23a09a  /*#5fcf80;*/
 /* background: linear-gradient(#aeb2c3, #bfbfbf);   /* (#828592, #aeb2c3);  */
 /* font-weight:bolder;*/
 /* cursor:pointer;*/
  /*color:#00ff00;*/
}

#tag1-feedback-paragraph, #tag2-feedback-paragraph, #tag3-feedback-paragraph, #tag4-feedback-paragraph, #tag5-feedback-paragraph,
#foto-feedback-paragraph, #deporte-feedback-paragraph{
  margin-top:50px;   
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.header{
  font-weight:bolder;
  color:#098ea8;
}
/*
fieldset{
  border:1px solid #ff0000;    /* #bfbfbf; /* #828592 o #e8e8e8  
  display:block;
  margin:0px auto;
}
*/
