#links{
  border:0px solid #00ff00;   /* #828592 o #e8e8e8 */
  /* border-radius:5px; */ 
  width:100%;
  margin:100px auto 0px auto;
}
.link{
  border-radius:5px;
  background:#ffffff;  /* #f3efe3;     /*#d5d5d5;               /*#0591e8;   /*:#bfbfff;*/
  border:1px solid #098ea8;    /* 1px solid #bfbfbf; */
  width:50px;
  margin:0px auto;
  padding:3px;
}
.link img{
  width:30px;
  height:30px;
  vertical-align:middle;  
}
/*
.link span{
  vertical-align:middle; 
  margin:0px 10px;
}
.link a{
  text-decoration:none;
  color:#3eb3e4; #098ea8; 
  font-weight:bolder;
}
.link a:hover{
  text-decoration:none;
  color:#000000;
  font-weight:bolder;
}
*/



#mensaje{
  border:2px solid #000000; /* #828592 o #e8e8e8 */
  /* border-radius:5px; */
  width:96%;
  margin:0px auto 0px auto;
}
.fotoentradas{
  display:inline-block;
  vertical-align:top;
  /*float:left;*/  
}
.entry{
  margin:100px 5% 0px 5%;  /* why auto abajo? */
  padding:0px 0px 10px 0px;
  border:2px solid #d5d5d5;
  border-radius:5px;
  background:#dcc48e;   /*#f5f5dc; */
  text-align:center;
}
.hora{
  text-align:left;
  /*background:#dfdfdf;*/            /*:#bfbfff;*/
  font-size:0.75em;
  font-weight:bolder;
  margin:10px 0px 0px 10px;
}
.entry-main-img{
  width:100%;
  padding:1px;
  margin:10px 0px 0px -2px;
  border-top:1px solid #afafaf;
  border-right:2px solid #888888;
  border-bottom:2px solid #888888;
  border-left:1px solid #afafaf;
  background-color:#ffffff;   /*#828592;*/
  display:block;
}
.entry-post-img{
  width:20px;
  height:20px;
  /* vertical-align:bottom; */
  margin:0px 10px 0px 0px;
  float:right;  
}
.tag12{
  padding:5px 0px 5px 0px;	
  margin:10px 0px 0px 0px;
  border-radius:0px;
  background:#f5f5f5;/* #e8d7c5; /*#f3efe3;       /*#d5d5d5;       /*#d6c2aa;      /*#e3dcbf;    /*#cfcfcf;       /*#dbceba;      #bfbfff;*/
  /* font-size:1.00em; */
  border-bottom:1px solid #d5d5d5;
  border-top:1px solid #d5d5d5;
}
.tag12:hover{
  background-color:#92aa83; 
}
.tag12 span, .tag12 img{
  vertical-align:middle;
}
.tag12 a{
  text-decoration:none;
  color:#000000; /* #3eb3e4 */
  padding:0px 5px;
  font-weight:bolder;
}
.entry-sport-img{
 width:30px;
 height:30px;
}
.entry-sport-img:hover{
 /* border:1px solid #ffffff; */
 background-color:#ffffff; 
 border-radius:30px;
 padding:1px;
}
.entry-country-img{
 width:20px;
 height:15px;
}
.tag34, .tag5{
  margin:10px 0% 0px 2.5%;
  border-radius:5px;
  font-size:0.75em;
  display:inline-block;
  background:#ffffff; 
  border:1px solid #92aa83;
}
.tag34:hover, .tag5:hover, .link:hover{
  background:#92aa83; 
}
.tag34 a, .tag5 a{
  text-decoration:none;
  color:#000000;
  /*background:#e5ded2;            /* fcecd1;     14b9eb #7abae2 #62b2e2;      #4aa8e3;    f5f5f5*/
  padding:0px 10px;
  border-radius:25px;
  font-weight:bolder;
}
.tag12 a:hover, .tag34 a:hover, .tag5 a:hover{
  /* text-decoration:none; */
  color:#ffffff;
  font-weight:bolder;
}
.comentario{
  margin:40px 2% 0px 2%;
  /*background:#e5ded2;*/
  border-radius:5px;
  font-size:0.75em;
}
