.mainimg{
  /*width:100%;*/
  padding:2px;
  border-top:1px solid #000000;
  border-right:2px solid #000000;
  border-bottom:2px solid #000000;
  border-left:1px solid #000000;
  background-color:#ffffff;   /*#828592;*/
}
.sportimg{
 width:30px;
 height:30px;
}
.statecountryimg{
 width:20px;
 height:13px;
}
.tag12 span, .tag12 img{
  vertical-align:middle;
}
.tag12{
  margin:20px 2% 0px 2%;
  border-radius:5px;
  background:#dbceba;            /*:#bfbfff;*/
  font-size:1.25em;
}
.tag34, .tag5{
  margin:10px 0% 0px 2.5%;
  border-radius:5px;
  /*background:#d5d5ff;*/
  font-size:0.75em;
  display:inline-block;
}

.tag12 a{
  text-decoration:none;
  color:#000000;
  padding:0px 5px;
  font-weight:bolder;
}
.tag34 a, .tag5 a{
  text-decoration:none;
  color:#000000;
  background:#dbceba;              /*e5ded2 fcecd1;     14b9eb #7abae2 #62b2e2;      #4aa8e3;    f5f5f5*/
  padding:0px 10px;
  border-radius:25px;
  font-weight:bolder;
}
.tag12 a:hover, .tag34 a:hover, .tag5 a:hover{
  text-decoration:none;
  color:#ff0000;
  font-weight:bolder;
}
.hora{
  text-align:left;
  /*background:#dfdfdf;*/            /*:#bfbfff;*/
  font-size:0.75em;
  font-weight:bolder;
  padding:0px 0px 10px 0px;
}
.comentario{
  margin:20px 30% 0px 30%;
  /*background:#e5ded2;*/
  border-radius:5px;
  font-size:0.75em;
  text-align:left;
}
.entry{
  /*border: 0px solid #bfbfbf;*/
  /*border-top:1px solid #828592;*/
  border-bottom:1px solid #bfbfbf;  /*828592*/
  margin:0px auto 50px;
  /*width:80%;*/ 
  padding:20px 0px 20px 0px; 
}
#morebtn{
  height:70px;
  width:70px;
  background:#eaeaea;
  cursor:pointer;
  border-radius:5px;
  float:right;
}
#lessbtn{
  height:70px;
  width:70px;
  background:#eaeaea;
  cursor:pointer;
  border-radius:5px;
  float:left;
}
#morebtn:hover, #lessbtn:hover{
}
